<!-- app/views/user_mailer/password_reset.html.erb -->
<h1>Redefinição de Senha</h1>
<p>Olá <%= @user.name %>,</p>

<p>Você solicitou uma redefinição de senha. Para continuar, clique no link abaixo:</p>
<p><%= link_to 'Redefinir senha', "http://frontend-url/reset_password?token=#{@user.reset_password_token}" %></p>

<p>Se você não solicitou esta redefinição, ignore este e-mail.</p>

<p>Atenciosamente,<br>
Equipe do seu aplicativo</p>
